.myNav {
  color: black;
}

.display-7 {
  font-size: calc(1.375rem + 1.5vws);
}

.card-link {
  color: green;
}

#oferta {
  background-color: #F5F0EC;
}

#ofirmie {
  background-color: #1B5B31;
}

.icon-offer {
  width: 3em;
}

#searchInput {
  width: 0;
  display: none;
  height: 24px;
}

@keyframes openSearch {
  from { width: 0%; }
  to { width: 80%; }
}

@keyframes closeSearch {
  from { width: 80%; }
  to { width: 0%; }
}

.green-white {
  background-color: #1B5B31;
  border-color: green;
  color: white;
}

.green-white:hover, .green-white:active, .green-white:target {
  background-color: inherit;
  border-color: green;
  color: green;
}

.greenborder {
  border-color: green;
  color: green;
  background-color: inherit;
}

.greenborder:hover {
  background-color: #1B5B31;
  border-color: white;
  color: white;
}

.right-offer {
  background-color: #1B5B31;
  color: white;
}
/* Karuzela intro */
.slaidNav {
  float: right;
  left: -2vw;
  background-color: red;
}

@media screen and (orientation: portrait) and (max-width: 1000px) {
  .slaidNav {
    float: right;
    left: -2vw;
  }
}

.prev, .next {
  cursor: pointer;
  color: black;
  background-color: #F5F0EC;
  bottom: 10%;
}

#isotope-grid {
  height: 75%;
}

/* fluid 5 columns */
.grid-sizer,
.grid-item { 
  width: 32%;
}